<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
  <div class="container" role="main" aria-label="Mini Message Board">
    <h1><%= title %></h1>
    <a href="/new" class="fab" aria-label="Add new message" title="Add new message"><span>+</span></a>

    <ul>
      <% messages.forEach(function(msg, idx) { %>
        <li tabindex="0">
          <div class="message-info">
            <div class="avatar" aria-hidden="true"><%= msg.user.charAt(0).toUpperCase() %></div>
            <div class="message-text-container">
              <div class="message-user"><%= msg.user %></div>
              <div class="message-text"><%= msg.text %></div>
            </div>
            <div class="message-date" aria-label="Message added on <%= new Date(msg.added).toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' }) %>">
              <%= new Date(msg.added).toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' }) %>
            </div>
          </div>
          <a class="open-link" href="/message/<%= idx %>" aria-label="Open message from <%= msg.user %>">Open</a>
        </li>
      <% }); %>
    </ul>
  </div>

</body>
</html>
